<div class="wrap">
  <div class="header">
    <a *ngIf="auth.isAuthenticated()" routerLink="/statistics">{{auth.userData.userName}}'s dashboard </a>
    <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/">Home</a>
  </div>
  <div class="container">
    <div class="row mb nowrap">
      <input class="input-value" type="text" name="inputLogin" [(ngModel)]="inputLogin" placeholder="Input unique username">
      <input class="input-value" type="password" name="inputPass" [(ngModel)]="inputPass" placeholder="Input password">
      <button class="submit-button-login" (click)="signUp()"> Sign Up!</button>
    </div>
  </div>
</div>
